<template name="page">
    <div class="main">
        <!-- Main Page Content and Sidebar -->
        <div id="showLeft" class="right right-align"><i class="fa fa-bars"></i></div>
        <nav class="cbp-spmenu" id="cbp-spmenu-s2">
            <h3>Pages</h3>
            <a href="#">Overview</a>
            <a href="#">Discussion</a>
            <a href="#">Issues</a>
            <a href="#">People</a>
        </nav>
        <div class="row">

            <!-- Main Blog Content -->
            <div class="push-3 large-9 columns">

                <article>

                    <h3 class="centered subpage">- Overview -</h3>
                    <ul class="small-block-grid-4">
                        <li><img src="http://placehold.it/350x250"></li>
                        <li><img src="http://placehold.it/350x250"></li>
                        <li><img src="http://placehold.it/350x250"></li>
                        <li><img src="http://placehold.it/350x250"></li>
                    </ul>
                    <div class="row">
                        <div class="large-12">
                            <div class="wrapper">
                                <div class="scrolls">
                                    <div class="imageDiv">
                                        <img src="http://placehold.it/32x32" />
                                        <img src="http://placehold.it/32x32" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns text-right"><img src="http://placehold.it/50x50&amp;text=[person]"></div>
                        <div class="small-10 columns">
                            <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns text-right"><img src="http://placehold.it/50x50&amp;text=[person]"></div>
                        <div class="small-10 columns">
                            <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns text-right"><img src="http://placehold.it/50x50&amp;text=[person]"></div>
                        <div class="small-10 columns">
                            <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns text-right"><img src="http://placehold.it/50x50&amp;text=[person]"></div>
                        <div class="small-10 columns">
                            <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns text-right"><img src="http://placehold.it/50x50&amp;text=[person]"></div>
                        <div class="small-10 columns">
                            <textarea placeholder="Enter your thoughts..."></textarea>
                        </div>
                    </div>
                </article>

                <hr />

            </div>

            <!-- End Main Content -->
        </div>

        <!-- End Main Content and Sidebar -->
    </div>

</template>
