<template name="topbar">
    <nav class="main-bar">
        <div class="row">
            <div class="columns small-10">
                <ul class="breadcrumbs title-area">
                    <li><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i></a></li>
                    {{yield 'breadcrumbs'}}
                </ul>
            </div>
            <div class="columns small-2">
                <nav class="fixed-right">
                    <a href="#" id="account-link"><i class="fa fa-cogs"></i></a>
                    <ul class="dropdown">
                        <li class=""><a href="http://patterntap.com">Pattern Tap</a></li>
                        <li class=""><a href="http://www.zurb.com/word">Word</a></li>
                        <li class=""><a href="http://www.zurb.com/responsive">Responsive</a></li>
                        <li class=""><a href="http://www.zurb.com/playground">Playground</a></li>
                        <li class=""><a href="http://www.zurb.com/quips">Quips</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
</template>

<template name="breadcrumbs">
    {{#if crumbs}}
    {{#each crumbs}}
        <li class=""><a href="{{path}}">{{name}}</a></li>
    {{/each}}
    {{/if}}
</template>