<template name="topbar">
    <nav class="top-bar">
        <div class="row" style="padding:0">
            <ul class="breadcrumbs title-area">
                <li><a href="#"><span class="hide-for-small">Home</span><i class="fa fa-home show-for-small"></i></a></li>
                <li><a href="#">User</a></li>
                <li class="current"><a href="#">Dashboard</a></li>
                <li class="toggle-topbar fa fa-cogs"><a href="#"><span></span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="has-dropdown not-click">
                        <a href="#"><a href="#"><i class="fa fa-cogs"></i></a></a>
                        <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">Back</a></h5></li>
                            <li class=""><a href="http://patterntap.com">Pattern Tap</a></li>
                            <li class=""><a href="http://www.zurb.com/word">Word</a></li>
                            <li class=""><a href="http://www.zurb.com/responsive">Responsive</a></li>
                            <li class=""><a href="http://www.zurb.com/playground">Playground</a></li>
                            <li class=""><a href="http://www.zurb.com/quips">Quips</a></li>
                        </ul>
                    </li>

                    <!--

                    <li class="logged-in has-dropdown">
                      <a href="#">
                        <div class="avatar">
                          <img src="http://placehold.it/25x25">
                          User-Name Here
                        </div>
                      </a>
                      <ul class="dropdown">
                        <li><a href="#"><img src="http://placehold.it/20x20&text=N">Notable</a></li>
                        <li><a href="#"><img src="http://placehold.it/20x20&text=S">Solidify</a></li>
                        <li><a href="#"><img src="http://placehold.it/20x20&text=V">Verify</a></li>
                        <li><a href="#"><img src="http://placehold.it/20x20&text=I">Influence</a></li>
                        <li class="signout"><a href="#">Sign Out</a></li>
                      </ul>
                    </li>
                    -->

                </ul>
            </section>
        </div>
    </nav>
</template>